em {
  color: red;
  float: right;

}

label {
  font-weight: bold;
}

.profile-photo {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
}

.profile-photo > label > img {
  max-width: 100%;
  max-height: 100%;
}

.profile-photo > input {
  display: none;
}
